<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Modulebazaar_Smscountry>
            <version>0.1.0</version>
        </Modulebazaar_Smscountry>
    </modules>
    <frontend>
        <routers>
            <smscountry>
                <use>standard</use>
                <args>
                    <module>Modulebazaar_Smscountry</module>
                    <frontName>smscountry</frontName>
                </args>
            </smscountry>
        </routers>
    </frontend>
    <global>
        <models>
            <smscountry>
                <class>Modulebazaar_Smscountry_Model</class>
                <resourceModel>smscountry_mysql4</resourceModel>
            </smscountry>
            <smscountry_mysql4>
                <class>Modulebazaar_Smscountry_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>modulebazaar_smscountry_log</table>
                    </log>
                </entities>
            </smscountry_mysql4>
        </models>
 
        <resources>
            <smscountry_setup>
                <setup>
                    <module>Modulebazaar_Smscountry</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smscountry_setup>
            <smscountry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </smscountry_write>
            <smscountry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </smscountry_read>
        </resources>
 
        <blocks>
            <smscountry>
                <class>Modulebazaar_Smscountry_Block</class>
            </smscountry>
        </blocks>
        <helpers>
            <smscountry>
                <class>Modulebazaar_Smscountry_Helper</class>
            </smscountry>
        </helpers>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <Modulebazaar_Smscountry_Order_Placed>
                        <type>singleton</type>
                        <class>Modulebazaar_Smscountry_Model_Observer</class>
                        <method>smscountryWhenOrderPlaced</method>
                    </Modulebazaar_Smscountry_Order_Placed>
                </observers>
            </checkout_onepage_controller_success_action>
            <sales_order_invoice_save_after>
                <observers>
                    <Modulebazaar_Smscountry_Invoice_Placed>
                        <type>singleton</type>
                        <class>Modulebazaar_Smscountry_Model_Observer</class>
                        <method>smscountryWhenInvoicePlaced</method>
                    </Modulebazaar_Smscountry_Invoice_Placed>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <Modulebazaar_Smscountry_Shipment_Created>
                        <type>singleton</type>
                        <class>Modulebazaar_Smscountry_Model_Observer</class>
                        <method>smscountryWhenShipmentCreated</method>
                    </Modulebazaar_Smscountry_Shipment_Created>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_save_after>
                <observers>
                    <Modulebazaar_Smscountry_Order_Canceled>
                        <type>singleton</type>
                        <class>Modulebazaar_Smscountry_Model_Observer</class>
                        <method>smscountryWhenOrderCanceled</method>
                    </Modulebazaar_Smscountry_Order_Canceled>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <smscountry>
                    <file>smscountry.xml</file>
                </smscountry>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <smscountry>
                            <title>Smscountry Menu Item</title>
                            <children>
                                <log translate="title" module="smscountry">
                                    <title>Log Menu Item</title>
                                </log>
                            </children>
                        </smscountry>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <smscountry_section translate="title" module="sms">
                                            <title>Modulebazaar SMS Country</title>
                                            <sort_order>100</sort_order>
                                        </smscountry_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
	    <modulebazaar translate="title">
		<title>Modulebazaar</title>
		<sort_order>500</sort_order>
		<children>
		    <smscountry translate="title" module="smscountry">
			<title>SMS Country</title>
			<sort_order>501</sort_order>
			<children>
			    <configuration translate="title" module="smscountry">
				<title>Configuration</title>
				<action>adminhtml/system_config/edit/section/smscountry_section/</action>
			    </configuration>
                            <log translate="title" module="smscountry">
				<title>Log</title>
				<action>adminhtml/log/index</action>
			    </log>
			</children>
		    </smscountry>
		</children>
	    </modulebazaar>
	</menu>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <smscountry before="Mage_Adminhtml">Modulebazaar_Smscountry_Adminhtml</smscountry>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <smscountry_section>
            <gateway_configuration>
                <gateway_url>http://www.smscountry.com/SMSCwebservice_Bulk.aspx</gateway_url>
            </gateway_configuration>
            <template_configuration>
                <chars_per_message>160</chars_per_message>
                <limit_sms_message>1</limit_sms_message>
            </template_configuration>
        </smscountry_section>
    </default>
</config>