<?xml version="1.0"?>
<config>
<!--
 * Created by:  Milan Simek
 * Company:     Plugin Company
 *
 * LICENSE: http://plugin.company/docs/magento-extensions/magento-extension-license-agreement
 *
 * YOU WILL ALSO FIND A PDF COPY OF THE LICENSE IN THE DOWNLOADED ZIP FILE
 *
 * FOR QUESTIONS AND SUPPORT
 * PLEASE DON'T HESITATE TO CONTACT US AT:
 *
 * SUPPORT@PLUGIN.COMPANY
-->
	  <sections>
		<carriers translate="label" module="plugincompany_shippingproduct">
					<groups>
				      <shippingcountry translate="label"> 
					  <label>Product Shipping Rate Per Country</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
					  <model>shippingproduct/carrier_shippingcountry</model>
				       <fields>
				         <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
						 <mb_standard_rate translate="label">
                            <label>Default Country Shipping Rates</label>
                            <frontend_type>pcshipping</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<default>0</default>
                            <comment>The default country shipping rates which will be used if no product-specific shipping rates are configured for the destination country.</comment>
                        </mb_standard_rate>
                           <mb_standard_per_item translate="label">
                               <label>Default Product Shipping Rate Calculation</label>
                               <frontend_type>select</frontend_type>
                               <source_model>plugincompany_shippingproduct/source_peritem</source_model>
                               <sort_order>50</sort_order>
                               <show_in_default>1</show_in_default>
                               <show_in_website>1</show_in_website>
                               <show_in_store>1</show_in_store>
                               <comment><![CDATA[ <b>Per item:</b> Product shipping rate is multiplied with the ordered quantity.<br/><b>Per product/SKU:</b> Product shipping rate is charged once, regardless of the ordered quantity.]]></comment>
                           </mb_standard_per_item>
                           <mb_standard_override translate="label">
                               <label>Default Total Shipping Costs Calculation</label>
                               <frontend_type>select</frontend_type>
                               <source_model>plugincompany_shippingproduct/source_override</source_model>
                               <sort_order>60</sort_order>
                               <show_in_default>1</show_in_default>
                               <show_in_website>1</show_in_website>
                               <show_in_store>1</show_in_store>
                               <comment><![CDATA[<b>Add to total shipping costs:</b> Product shipping rates are added to the total shipping costs. <br /><b>Override total shipping costs:</b> Product shipping rates override the total shipping costs. In case of multiple overrides, the highest rate will be charged.]]></comment>
                           </mb_standard_override>
                           <mb_configurable_calculation translate="label">
                               <label>Configurable Product Shipping Rates</label>
                               <frontend_type>select</frontend_type>
                               <source_model>plugincompany_shippingproduct/source_configurablecalc</source_model>
                               <sort_order>70</sort_order>
                               <show_in_default>1</show_in_default>
                               <show_in_website>1</show_in_website>
                               <show_in_store>1</show_in_store>
                               <comment>Configure the shipping rates of configurable products based on the parent or the child product settings.</comment>
                           </mb_configurable_calculation>
                           <mb_fixed_fee translate="label">
                               <label>Fixed Order Shipping Rates</label>
                               <frontend_type>pcfixedrate</frontend_type>
                               <sort_order>75</sort_order>
                               <show_in_default>1</show_in_default>
                               <show_in_website>1</show_in_website>
                               <show_in_store>1</show_in_store>
                               <default>0</default>
                               <comment>Fixed shipping rate per order / per country, which is added to the total shipping costs.</comment>
                           </mb_fixed_fee>
                           <sallowspecific translate="label">
                               <label>Ship to Applicable Countries</label>
                               <frontend_type>select</frontend_type>
                               <sort_order>80</sort_order>
                               <frontend_class>shipping-applicable-country</frontend_class>
                               <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                               <show_in_default>1</show_in_default>
                               <show_in_website>1</show_in_website>
                               <show_in_store>0</show_in_store>
                           </sallowspecific>
                           <specificcountry translate="label">
                               <label>Ship to Specific Countries</label>
                               <frontend_type>multiselect</frontend_type>
                               <sort_order>90</sort_order>
                               <source_model>adminhtml/system_config_source_country</source_model>
                               <show_in_default>1</show_in_default>
                               <show_in_website>1</show_in_website>
                               <show_in_store>0</show_in_store>
                               <can_be_empty>1</can_be_empty>
                           </specificcountry>
                           <showmethod translate="label">
                               <label>Show Method if Not Applicable</label>
                               <frontend_type>select</frontend_type>
                               <sort_order>100</sort_order>
                               <source_model>adminhtml/system_config_source_yesno</source_model>
                               <show_in_default>1</show_in_default>
                               <show_in_website>1</show_in_website>
                               <show_in_store>0</show_in_store>
                           </showmethod>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>100</sort_order>
                        </sort_order>
					   </fields>
					   </shippingcountry>
					</groups>
		</carriers>
	  </sections>
</config>
