<!--@subject 感谢您申请订阅 - 有你肯工具 @-->
<body>

<div style="width:630px;">
<br>

	<p>欢迎订阅有你肯新闻。</p>

	<p>您的订阅申请已正常处理完毕，</p>

	<p>您将收到有你肯信息和邮件专用优惠（优惠券和活动信息）。</p>

	<p>有你肯新闻将发送到您的邮箱，我们保证给您带各种愉快的信息。</p>

	<p>谢谢。</p>

<br>
<br>
<br>

	<ul  style="margin:0;padding:0;">
		<li><a href="{{store url=""}}" style="color:#1E7EC8;" target="_blank"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a></li>
		<li>• 电话：400-8858-312</li>
		<li>• 邮箱：<a  href="mailto:help@unicorntool.cn">help@unicorntool.cn</a></li>
		<li>• QQ：<a  href="tencent://message/?uin=2286829607&websiteName=有你肯&Menu=yes">2286829607</a></li>
		<li>• 商城网址：<a  href="http://unicorntool.cn" target="_blank">http://unicorntool.cn</a></li>
	</ul>
</div>
</body>