<!--@subject 新闻退定成功 - 有你肯工具 @-->
<body>

<div style="width:630px;">
<br>
<br>
	<p>新闻邮件退定成功。</p>

	<p>今后不能被接受电子邮件专用优惠（优惠券和活动信息），</p>

	<p>如果您希望重新订阅本社电子新闻，请单击底键。</p>

	<p>谢谢。</p>

	<a href="{{store url=""}}newsletter/manage/" target="_blank"style="    text-decoration: none;display:block;width:274px;height:56px;margin-left:130px;color:white;background: #d00000; line-height: 56px;text-align:center;font-weight:bold">重新申请订阅</a>

<br>
<br>
<br>

	<ul style="margin:0;padding:0;">
		<li><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a></li>
		<li>• 电话：400-8858-312</li>
		<li>• 邮箱：<a  href="mailto:help@unicorntool.cn">help@unicorntool.cn</a></li>
		<li>• QQ：<a  href="tencent://message/?uin=2286829607&websiteName=有你肯&Menu=yes">2286829607</a></li>
		<li>• 商城网址：<a  href="http://unicorntool.cn" target="_blank">http://unicorntool.cn</a></li>
	</ul>
</div>
</body>